{% extends 'Guest/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="img js-ful<lheight" style="background-image: url({% static 'Login/images/bg3.jpg' %})">
    <br><br><br><br><br><br><br><br>
    <div id="tab">
    <h1 align="center" style="color: white;">Agency Registration</h1><br><br>
    <form action="" method="POST" id="UserForm" data-place-url="{% url 'webguest:Ajax-Place' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1" align="center" cellpadding="10" style="border-collapse: collapse;">
            <tr>
                <td style="color: white;">Agency Name</td>
                <td><input type="text" name="txt_name" autocomplete="off" placeholder="Enter Agency Name" required=""></td>
            </tr>
            <tr>
                <td style="color: white;">Email</td>
                <td><input type="email" name="txt_mail" autocomplete="off" pattern="[^ @]*@[^ @]*" placeholder="Enter Email" id="email" required=""></td>
            </tr>
            <tr>
                <td style="color: white;">District Name:</td>
                <td><select name="txt_district" id="dist" required="" autocomplete="off">
                    <option value="null">--SELECT--</option>
                    {% for i in res%}
                        <option value="{{i.id}}">{{i}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td style="color: white;">Place Name:</td>
                <td><select name="txt_place" id="pl" required="" autocomplete="off">
                    <option value="null">--SELECT--</option>
                    
                </select></td>
            </tr>
            <tr>
                <td style="color: white;">CaseType</td>
                <td><select name="sel_casetype" id="casetype" required="" autocomplete="off">
                    <option value="null">--SELECT--</option>
                    {% for i in cs%}
                        <option value="{{i.id}}">{{i}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td style="color: white;">Address</td>
                <td><textarea rows="4" cols="50" name="txt_address" placeholder="Enter Address" required=""></textarea></td>
            </tr>
            <tr>
                <td style="color: white;">Password</td>
                <td><input type="password" name="txt_pass" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></td>
            </tr>
            <tr>
                <td style="color: white;">Proof:</td>
                <td><input type="file" name="file1" required="" autocomplete="off"></td>
            </tr>
            <tr>
                <td style="color: white;">Photo:</td>
                <td><input type="file" name="file2" required="" autocomplete="off"></td>
            </tr>
            <tr>
                <td style="color: white;">Contact</td>
                <td><input type="text" name="txt_contact" required="" autocomplete="off" placeholder="0123456789" pattern="[0-9]{10}" required=""></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" value="Submit">&nbsp&nbsp&nbsp<input type="reset" value="Cancel"></td>
            </tr>
        </table>
    </form>
    <script>
        {% if msg %}
           alert("{{msg}}")
        {% endif %}
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $("#dist").change(function () {
            var did = $(this).val();
            var ur = $("#UserForm").attr("data-place-url");
            $.ajax({
                url: ur,
                data: { disd: did, },
                success: function (data) {
                    $("#pl").html(data);
                },
            });
        });
        </script>
</body>
</html>
<br><br><br><br><br>
{% endblock content %}