{% extends 'Guest/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="img js-fullheight" style="background-image: url({% static 'Login/images/bg3.jpg' %})">
    <br><br><br><br><br><br><br><br><br>
    <form action="" method="POST">
        {% csrf_token %}
        <FONT COLOR="WHITE">
        <table border="1" align="center" cellpadding="10" style="border-collapse: collapse;">
            <tr>
                <td>Enter New Password:</td>
                <td><input type="password" name="txt_pass" placeholder="Enter New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required autocomplete="off"></td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td><input type="password" name="txt_confirm" placeholder="Re-enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required autocomplete="off"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="Submit" value="Change">&nbsp&nbsp<input type="reset" value="Cancel"></td>
            </tr>
        </table>
        {% if msg %}
        <script>
            alert("{{msg}}");
        </script>
        {% endif %}<br><br><br><br><br><br><br><br><br></font>
       
</body>
</html>
{% endblock content %}