{% extends 'Guest/Head.html' %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head><br><br><br><br><br><br><br><br><br>
<body class="img js-fullheight" style="background-image: url({% static 'Login/images/bg3.jpg' %})">
    <form action="" method="POST">
        {% csrf_token %}
        <font color="white">
        <table border="1" align="center" cellpadding="10" style="border-collapse: collapse;">
            <tr>
                <td>Enter E-Mail For Getting OTP</td>
                <td><input type="email" name="txt_email" autocomplete="off" pattern="[^ @]*@[^ @]*" placeholder="Enter Email" id="email" required=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Send OTP"></td>
            </tr>
        </table><br><br><br><br><br><br><br><br><br></font>
</body>
<script>
    {% if msg %}
    alert("{{msg}}")
 {% endif %}
</script>
</html>
{% endblock content %}