{% extends 'Guest/Head.html' %} 
{% load static %}
{% block content %}
 
 <!-- Hero Section Begin -->
   <section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="{% static 'Main/img/team-bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>WELCOME TO</span>
                            <h2>MISSION SEEKER</h2>
                            <a href="#" class="primary-btn">See more about us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="{% static 'Main/img/4.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>A PORTAL TO INVESTIGATE ABOUT </span>
                            <h2>ILLEGAL ACTIVITIES</h2>
                            <a href="#" class="primary-btn">See more about us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>
<!-- Hero Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>Our services</span>
                        <h2>What We do?</h2>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="{% static 'Main/img/icons/si-1.png' %}" alt="">
                            </div>
                            <h4>Due Diligence</h4>
                            <p> Mission Seeker is considered the master of the domain. With a highly methodical and strategic approach, we possess unique ability to penetrate to the crux of the matter. A specially trained and highly experienced team of professionals is assigned specifically for this domain. We conduct Due Diligence for Individuals & Corporates. Reputation, assets, financials, criminal check etc are some of the deliverables of this domain.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="{% static 'Main/img/icons/si-2.png' %}" alt="">
                            </div>
                            <h4>Asset Tracing</h4>
                            <p>The service involves tracking of undisclosed assets of a firm or an individual. The process required identification of moveable & fixed assets e.g vehicles, income sources, real estates, business ownership or interests, judgments, defaults etc.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Work Section Begin -->
<
<!-- Work Section End -->

<!-- Counter Section Begin -->
<section class="counter">
    <div class="container">
        <div class="counter__content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__text">
                            <img src="{% static 'Main/img/icons/ci-1.png' %}" alt="">
                            <h2 class="counter_num">100</h2>
                            <p>% of Cases Solved</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item second__item">
                        <div class="counter__item__text">
                            <img src="{% static 'Main/img/icons/ci-2.png' %}" alt="">
                            <h2 class="counter_num">1068</h2>
                            <p>Satisfied Users</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item third__item">
                        <div class="counter__item__text">
                            <img src="{% static 'Main/img/icons/ci-3.png' %}" alt="">
                            <h2 class="counter_num">230</h2>
                            <p>Detective Agencies</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item four__item">
                        <div class="counter__item__text">
                            <img src="{% static 'Main/img/icons/ci-4.png' %}" alt="">
                            <h2 class="counter_num">100</h2>
                            <p>Awards Wons</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->

<!-- Team Section Begin -->

<!-- Team Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title center-title">
                    <span>What Our</span>
                    <h2>Users Say</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="latest__slider owl-carousel">
                <div class="col-lg-4">
                    <div class="blog__item latest__item">
                        <h4>"MissionSeeker's mystery shopping services are outstanding.Commendable support and Information rendered by the officials."
                        </h4>
                        <ul>
                            <li>May 23, 2019</li>
                            <li>05 Comment</li>
                        </ul>
                        <a href="#"> Pritam Oberoi</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog__item latest__item">
                        <h4>"We utilized the services of MissionSeeker Investigation & Consulting.They have submitted high quality, factual reports which are precise and to the point."</h4>
                        <ul>
                            <li>Jan 03, 2020</li>
                            <li>05 Comment</li>
                        </ul>
                        <a href="#">Samantha Williams</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog__item latest__item">
                        <h4>" MissionSeeker Investigation & Consulting provided high level of professional assistance and precise data when we used their services for mystery shopping at our foundations."</h4>
                        <ul>
                            <li>Oct 13, 2022</li>
                            <li>05 Comment</li>
                        </ul>
                        <a href="#">Robin Kapoor</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog__item latest__item">
                        <h4>" Well done. High quality perfection & dedication delivered. They are the best and operated with complete privacy. Confidentiality & integrity is assured."</h4>
                        <ul>
                            <li>Dec 29, 2018</li>
                            <li>05 Comment</li>
                        </ul>
                        <a href="#">Ariba Shah</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->

<!-- Call To Action Section Begin -->
<section class="callto spad set-bg" data-setbg="{% static 'Main/img/getintouch.webp' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="callto__text">
                    <h2>Looking For A Leading Investigation Agency In India? Contact us.</h2>
                    <a href="{% url 'webguest:userreg' %}">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section End -->


{% endblock content %}