<table align="center" cellpadding="50" style="border-collapse: collapse">
    <tr>
        {% for i in agency %}

        <td>
            <div style="text-align:center;border:1px solid black;margin:22px;padding:20px">

                <p><img src="{{i.agency_photo.url}}" width="100px" height="100px" /></p>
                <br>
                <p>{{i.agency_name}}</p>
                <br>
                <p>{{i.agency_contact}}</p>
                <br>
                <p>{{i.agency_mail}}</p>
                <br>
                <br>
                <p><a href="{% url 'webuser:request' i.id %}">Request</a></p>
                <br>
            </div>
        </td>
        {% if forloop.counter|divisibleby:4 %}
    </tr>
    <tr>
        {% endif %}


        {% endfor %}
</table>