{% extends 'User/Head.html' %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="img js-fullheight" style="background-image: url({% static 'Main/img/team-bg.jpg' %})">
    <br><br><br><br><br><br><br>
    <div id="tab">
    <h1 align="center" style="color: white;">Change Password</h1>
    <form action="" method="POST" id="UserForm">
        {% csrf_token %}
    <table border="1" align="center" cellpadding="10" style="border-collapse: collapse;">
        <tr>
            <td style="color: white;">Current Password:</td>
            <td><input type="password" name="txt_curr"></td>
        </tr>
        <tr>
            <td style="color: white;">New Password:</td>
            <td><input type="password" name="txt_new" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></td>
        </tr>
        <tr>
            <td style="color: white;">Confirm Password:</td>
            <td><input type="password" name="txt_confirm" onblur="return checkpwd(this,pwd)" placeholder="Re-enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" value="Change">&nbsp&nbsp<input type="reset" value="Cancel"></td>
        </tr>
    </table>
    </form>
</div>
</body>
<script>
    {% if msg %}
       alert("{{msg}}")
    {% endif %}
</script>
</html>
<br><br><br><br><br><br>
{% endblock content %}