{% extends 'User/Head.html' %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="img js-fullheight" style="background-image: url({% static 'Main/img/team-bg.jpg' %})">
    <br><br><br><br><br><br><br><br>
    <div id="tab">
        <h1 align="center" style="color: white;">Payment</h1><br><br>
    <table border="1" align="center" cellpadding="10" style="border-collapse: collapse;">
        <tr>
            
            <td style="color: white;">Amount:</td>
            <td style="color: white;">₹ {{data.amount}} /-</td>
        </tr>
        <tr>
            <td colspan="2" style="color: white;"><a href="{% url 'webuser:payment' data.id %}">Continue To Payment Gateway</a></td>
        </tr>
    </table>
</div>
</body>
</html>
<br><br><br><br><br><br><br><br>
{% endblock content %}