{% extends 'User/Head.html' %} 
{% load static %}
{% block content %}
 
 <!-- Hero Section Begin -->
   <section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="{% static 'Main/img/bg3.avif' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span></span>
                            <h2>Welcome {{data.user_name}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="{% static 'Main/img/team-bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>Your Perfect Solution For</span>
                            <h2>Illegal Activities</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>
<!-- Hero Section End -->
<!-- Team Section Begin -->
<section class="team spad set-bg" data-setbg="{% static 'Main/img/team-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title team__title">
                    <span>Following are</span>
                    <h2>Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="{% url 'webuser:searchagency' %}">
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item set-bg" data-setbg="{% static 'Main/img/searchagency.jpg' %}">
                    <div class="team__item__text">
                        <h4>Search Agency</h4>
                    </div>
                </div></a>
            </div>
            <a href="{% url 'webuser:viewreq' %}">
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--second set-bg" data-setbg="{% static 'Main/img/viewrequests.jpg' %}">
                    <div class="team__item__text">
                        <h4>View Requests</h4>
                    </div>
                </div></a>
            </div>
            <a href="{% url 'webuser:feedback' %}">
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--third set-bg" data-setbg="{% static 'Main/img/feedback1.jpg' %}">
                    <div class="team__item__text">
                        <h4>Feedback</h4>
                    </div>
                </div></a>
            </div>
            <a href="{% url 'webuser:complaint' %}">
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--four set-bg" data-setbg="{% static 'Main/img/complaint.jpg' %}">
                    <div class="team__item__text">
                        <h4>Complaint</h4>
                    </div>
                </div></a>
            </div>
            <div class="col-lg-12 p-0">
                <div class="team__btn">
                    <a href="#" class="primary-btn">Meet Our Team</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->

<!-- Services Section Begin -->
<!--
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>Our services</span>
                        <h2>What We do?</h2>
                    </div>
                    <p>If you hire a videographer of our team you will get a video professional to make a custom
                        video for your business and, once the project is over.</p>
                        <ul class="primary-btn">
                            <li></li>
                            <li>View Requests</a></li>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="{% static 'Main/img/icons/si-1.png' %}" alt="">
                            </div>
                            <h4>Motion graphics</h4>
                            <p>Whether you’re halfway through the editing process, or you haven’t even started, our
                                post production services can put the finishing touches.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="{% static 'Main/img/icons/si-2.png' %}" alt="">
                            </div>
                            <h4>Scriptwriting and editing</h4>
                            <p>Whether you’re halfway through the editing process, or you haven’t even started, our
                                post production services can put the finishing touches.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="{% static 'Main/img/icons/si-3.png' %}" alt="">
                            </div>
                            <h4>Video distribution</h4>
                            <p>Whether you’re halfway through the editing process, or you haven’t even started, our
                                post production services can put the finishing touches.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="{% static 'Main/img/icons/si-4.png' %}" alt="">
                            </div>
                            <h4>Video hosting</h4>
                            <p>Whether you’re halfway through the editing process, or you haven’t even started, our
                                post production services can put the finishing touches.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- Services Section End -->

<!-- Work Section Begin -->

<!-- Work Section End -->

<!-- Counter Section Begin -->
<section class="counter">
    <div class="container">
        <div class="counter__content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__text">
                            <img src="{% static 'Main/img/icons/ci-1.png' %}" alt="">
                            <h2 class="counter_num">20</h2>
                            <p>States in India</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item second__item">
                        <div class="counter__item__text">
                            <img src="{% static 'Main/img/icons/ci-2.png' %}" alt="">
                            <h2 class="counter_num">1068</h2>
                            <p>Happy clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item third__item">
                        <div class="counter__item__text">
                            <img src="{% static 'Main/img/icons/ci-3.png' %}" alt="">
                            <h2 class="counter_num">230</h2>
                            <p>Detective Agencies</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item four__item">
                        <div class="counter__item__text">
                            <img src="{% static 'Main/img/icons/ci-4.png' %}" alt="">
                            <h2 class="counter_num">230</h2>
                            <p>Solved Cases</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->



<!-- Latest Blog Section Begin -->


<!-- Call To Action Section Begin -->
<!--
<section class="callto spad set-bg" data-setbg="{% static 'Main/img/callto-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="callto__text">
                    <h2>Fresh Ideas, Fresh Moments Giving Wings to your Stories.</h2>
                    <p>INC5000, Best places to work 2019</p>
                    <a href="#">Start your stories</a>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- Call To Action Section End -->


{% endblock content %}
    
    <a href="{% url 'webuser:myprofile' %}">Myprofile</a><br>
    <a href="{% url 'webuser:editprofile' %}">Editprofile</a><br>
    <a href="{% url 'webuser:changepass' %}">Change Password</a><br>
    <a href="</a><br>
    <a href="{% url 'webuser:complaint' %}">Complaint</a><br>
    <a href="{% url 'webuser:feedback' %}">Feedback</a><br>
</body>
</html>