{% extends 'User/Head.html' %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="img js-fullheight" style="background-image: url({% static 'Main/img/team-bg.jpg' %})">
    <br><br><br><br><br><br><br><br>
    <div id="tab">
        <h1 align="center" style="color: white;">My Profile</h1><br><br>
    <table border="1" align="center" cellpadding="10" style="border-collapse: collapse;">
        <tr>
            <td align="center" colspan="2"><img src="{{data.user_photo.url}}" width="150" height="150"  style="border-radius: 75px;"></td>
            
        </tr>
        <tr>
            <td style="color: white;">Name:</td>
            <td style="color: white;">{{data.user_name}}</td>
        </tr>
        <tr>
            <td style="color: white;">Contact:</td>
            <td style="color: white;">{{data.user_contact}}</td>
        </tr>
        <tr>
            <td style="color: white;">Email:</td>
            <td style="color: white;">{{data.user_mail}}</td>
        </tr>
        <tr>
            <td style="color: white;">Address:</td>
            <td style="color: white;">{{data.user_address}}</td>
        </tr>
    </table>
</body>
</html>
<br><br><br><br>
{% endblock content %}