

{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}


<div class="row g-4">
    
    
   
    
</div>
</div>
<!-- Sale & Revenue End -->


<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
<div class="row g-4">
    
    
</div>
</div>
<!-- Sales Chart End -->


<!-- Recent Sales Start -->

<!-- Recent Sales End -->


<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
<div class="row g-4">
    <div class="col-sm-12 col-md-6 col-xl-4">
       
    </div>
    
    <div class="col-sm-12 col-md-6 col-xl-4">
        
            
            
            
            <img style="opacity:0.3;" src="{% static 'Admin/img/images2.png' %}" class="bg" align="center" width="500" height="500"/>
            
        
    </div>
</div>


{% endblock content %}